@font-face {
  font-family: "BureauGrotesque";
  src: url("https://timelineofmoney.com//assets/fonts/BureauGrotesque/BureauGrotesque.eot");
  src: url("../assets/fonts/BureauGrotesque/BureauGrotesque.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/BureauGrotesque/BureauGrotesque.woff2") format("woff2"),
  url("../assets/fonts/BureauGrotesque/BureauGrotesque.woff") format("woff"),
  url("../assets/fonts/BureauGrotesque/BureauGrotesque.ttf") format("truetype"),
  url("../assets/fonts/BureauGrotesque/BureauGrotesque.svg#BureauGrotesque") format("svg");
}


@import url('../assets/fonts/inter/inter.css');

html, body, button {
  font-family: 'Inter', sans-serif;
}

h1, h2{
  font-family: 'BureauGrotesque', sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}

h1 {
  font-size: 120px;
  margin-top: -50px;
  line-height: 0.8em;
  font-weight: 100;
  letter-spacing: -0.03em;
}

a{
  color: rgba(255,255,255, 0.3);
  font-size: 14px;
}


#branding {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#branding #branding1 {
  position: absolute;
}

#branding #branding2 {
  height: 60px;
  right: 0px;
  position: absolute;
}

#branding #branding1 img, #branding #branding2 img{
  height: 60px;
}

:root {
  --scenePerspective: 1;
  --scenePerspectiveOriginX: 50;
  --scenePerspectiveOriginY: 30;
  --itemZ: 2;
  --cameraSpeed: 150;
  --cameraZ: 0;
  --viewportHeight: 0;
}

.viewport {
  height: calc(var(--viewportHeight) * 1px);
}
.viewport .scene3D-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
  perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%) calc(var(--scenePerspectiveOriginY) * 1%);
  will-change: perspective-origin;
  transform: translate3d(0, 0, 0);
}
.viewport .scene3D-container .scene3D {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--cameraZ) * 1px));
  will-change: transform;
}
.viewport .scene3D-container .scene3D > div {
  position: absolute;
  display: block;
  width: 100%;
  top: 40%;
}
@media only screen and (min-width: 600px) {
  .viewport .scene3D-container .scene3D > div {
    width: 45%;
  }
}
/*
.viewport .scene3D-container .scene3D > div:nth-child(2n) {
  left: 0px;
}
.viewport .scene3D-container .scene3D > div:nth-child(2n+1) {
  right: 0px;
}

.viewport .scene3D-container .scene3D > div:nth-child(2n) {
  left: 50%;
}
.viewport .scene3D-container .scene3D > div:nth-child(2n+1) {
  right: 50%;
}
*/

.viewport .scene3D-container .scene3D > div {
  right: 25%;
  margin: -50px 40px 0 0;
}

/*
.viewport .scene3D-container .scene3D > div:nth-child(0) {
  transform: translate3D(-19%, 5%, calc(var(--itemZ) * var(--cameraSpeed) * 0 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(1) {
  transform: translate3D(-8%, -33%, calc(var(--itemZ) * var(--cameraSpeed) * 1 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(2) {
  transform: translate3D(4%, -7%, calc(var(--itemZ) * var(--cameraSpeed) * 2 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(3) {
  transform: translate3D(22%, -32%, calc(var(--itemZ) * var(--cameraSpeed) * 3 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(4) {
  transform: translate3D(-9%, -16%, calc(var(--itemZ) * var(--cameraSpeed) * 4 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(5) {
  transform: translate3D(23%, 33%, calc(var(--itemZ) * var(--cameraSpeed) * 5 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(6) {
  transform: translate3D(19%, -39%, calc(var(--itemZ) * var(--cameraSpeed) * 6 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(7) {
  transform: translate3D(-15%, 4%, calc(var(--itemZ) * var(--cameraSpeed) * 7 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(8) {
  transform: translate3D(1%, 1%, calc(var(--itemZ) * var(--cameraSpeed) * 8 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(9) {
  transform: translate3D(-4%, 30%, calc(var(--itemZ) * var(--cameraSpeed) * 9 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(10) {
  transform: translate3D(-4%, 1%, calc(var(--itemZ) * var(--cameraSpeed) * 10 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(11) {
  transform: translate3D(25%, -17%, calc(var(--itemZ) * var(--cameraSpeed) * 11 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(12) {
  transform: translate3D(10%, -41%, calc(var(--itemZ) * var(--cameraSpeed) * 12 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(13) {
  transform: translate3D(14%, 28%, calc(var(--itemZ) * var(--cameraSpeed) * 13 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(14) {
  transform: translate3D(10%, 33%, calc(var(--itemZ) * var(--cameraSpeed) * 14 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(15) {
  transform: translate3D(-4%, 3%, calc(var(--itemZ) * var(--cameraSpeed) * 15 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(16) {
  transform: translate3D(-23%, 6%, calc(var(--itemZ) * var(--cameraSpeed) * 16 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(17) {
  transform: translate3D(24%, -11%, calc(var(--itemZ) * var(--cameraSpeed) * 17 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(18) {
  transform: translate3D(3%, -40%, calc(var(--itemZ) * var(--cameraSpeed) * 18 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(19) {
  transform: translate3D(-19%, 14%, calc(var(--itemZ) * var(--cameraSpeed) * 19 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(20) {
  transform: translate3D(0%, -43%, calc(var(--itemZ) * var(--cameraSpeed) * 20 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(21) {
  transform: translate3D(10%, -44%, calc(var(--itemZ) * var(--cameraSpeed) * 21 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(22) {
  transform: translate3D(-24%, -7%, calc(var(--itemZ) * var(--cameraSpeed) * 22 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(23) {
  transform: translate3D(-15%, 3%, calc(var(--itemZ) * var(--cameraSpeed) * 23 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(24) {
  transform: translate3D(18%, -6%, calc(var(--itemZ) * var(--cameraSpeed) * 24 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(25) {
  transform: translate3D(6%, -47%, calc(var(--itemZ) * var(--cameraSpeed) * 25 * -1px));
}
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  padding: 0;
  margin: 0;
  line-height: 1.2em;
}




.link {
  color: white;
  margin: 0;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}


.scene3D > .event h2 {
  margin-top: 0;
  font-size: 1.5rem;
}




.event-inner{
  transition: transform 0.3s;
  padding: 2rem;
}
.event-inner.center-read{
  transform: translate(0%, -100px) !important;
}

/*
.scene3D > div:nth-child(0) {
  background-color: #ffc2e0;
}
.scene3D > div:nth-child(1) {
  background-color: #ffc2c2;
}
.scene3D > div:nth-child(2) {
  background-color: #ffe0c2;
}
.scene3D > div:nth-child(3) {
  background-color: #ffffc2;
}
.scene3D > div:nth-child(4) {
  background-color: #e0ffc2;
}
.scene3D > div:nth-child(5) {
  background-color: #c2ffc2;
}
.scene3D > div:nth-child(6) {
  background-color: #c2ffe0;
}
.scene3D > div:nth-child(7) {
  background-color: #c2ffff;
}
.scene3D > div:nth-child(8) {
  background-color: #c2e0ff;
}
.scene3D > div:nth-child(9) {
  background-color: #c2c2ff;
}
.scene3D > div:nth-child(10) {
  background-color: #e0c2ff;
}
.scene3D > div:nth-child(11) {
  background-color: #ffc2ff;
}
.scene3D > div:nth-child(12) {
  background-color: #ffc2e0;
}
.scene3D > div:nth-child(13) {
  background-color: #ffc2c2;
}
.scene3D > div:nth-child(14) {
  background-color: #ffe0c2;
}
.scene3D > div:nth-child(15) {
  background-color: #ffffc2;
}
.scene3D > div:nth-child(16) {
  background-color: #e0ffc2;
}
.scene3D > div:nth-child(17) {
  background-color: #c2ffc2;
}
.scene3D > div:nth-child(18) {
  background-color: #c2ffe0;
}
.scene3D > div:nth-child(19) {
  background-color: #c2ffff;
}
.scene3D > div:nth-child(20) {
  background-color: #c2e0ff;
}
.scene3D > div:nth-child(21) {
  background-color: #c2c2ff;
}
.scene3D > div:nth-child(22) {
  background-color: #e0c2ff;
}
.scene3D > div:nth-child(23) {
  background-color: #ffc2ff;
}
.scene3D > div:nth-child(24) {
  background-color: #ffc2e0;
}
.scene3D > div:nth-child(25) {
  background-color: #ffc2c2;
}

*/
